* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #f7d6e0, #d6e9f7);
  background-size: 400% 400%;
  animation: gradientAnim 15s ease infinite;
  color: #333;
}



header {
  text-align: center;
  padding: 20px;
  background: #ffb6c1;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  background: white;
  color: #ff69b4;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid transparent;
}

nav a:hover {
  background: #ffe4ec;
  border: 2px solid #fff;
  transform: scale(1.05);
}

#equipo {
  text-align: center;
  margin: 50px auto;
}

.miembros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.miembro {
  width: 150px;
  text-align: center;
}

.miembro img {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
  border: 3px solid #ffb6c1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.miembro img:hover {
  transform: scale(1.1);
}

#galeria {
  margin: 30px auto;
  max-width: 90%;
}

.carrusel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 10px;
  scroll-behavior: smooth;
}

.carrusel img {
  height: 200px;
  border-radius: 15px;
  flex-shrink: 0;
  transition: transform 0.3s;
  cursor: pointer;
}

.carrusel img:hover {
  transform: scale(1.1);
}

main section {
  margin-bottom: 40px;
}
#logo{
  width: 200px;
  height: 200x;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

section {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #444;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

button {
  background: #4caf50;
  color: white;
  cursor: pointer;

}

button:hover {
  background: #388e3c;
}

#resultado {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
#Videos_Galeria{
  margin-top:20px;  
  text-align:center;}
footer {
  text-align: center;
  padding: 15px;
  background: #ffb6c1;
  color: white;
}
